rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /games/{gameId} {
      allow read: if true;
      allow write: if true;
    }
    match /meetups/{meetupId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
